app_root_directory: root_directory
maildir: mail directory
domain: your_domain
DB_host: '127.0.0.1'
DB_username: db_user
DB_password: db_password
DB_name: db_name
DB_encoding: utf8
async_notifications: off
