<!DOCTYPE html>
<html>
<title>QA Mail</title>
<style>
.list_table {
    border-collapse: collapse;
    width: 99%;
    height: 99%;
}

.list_table td.shrink {
    white-space:nowrap
}
.list_table td.expand {
    width: 99%
    height: 99%;
}
td a {
    display:block;
    width: 99%;
    height: 99%;
}

html, body, table, iframe, tbody, head, center
{
  height: 99%;
}

</style>

<body>

<%= yield %>

</body>
</html>
