<!DOCTYPE html>
<html>
<title>QA Mail</title>
<style>
td a {
    display:block;
    width: 99%;
}

html, body, table, iframe, tbody, head
{
  height: 98%;
  border-collapse:collapse;
}

#mailbox_table {
  height = 100%;
}


div.tableContainer {
	clear: both;
	height: 100%;
	overflow: auto;
}


</style>

<body>

<%= yield %>
</body>
</html>
