<!DOCTYPE html>
<html>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <script src="/js/lib/angular.min.js"></script>
  <script src="/js/lib/xml2json.min.js"></script>
  <link rel="stylesheet" href="/css/lib/pure/pure-min.css">
  <link rel="stylesheet" href="/css/lib/pure/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/lib/font-awesome/css/font-awesome.min.css">
  <title>QA Mail</title>



</html>
