/* Email Item Styles */

.color-primary-0 { color: #7893AF } /* Main Primary color */
.color-primary-1 { color: #C2D0DE }
.color-primary-2 { color: #9DB2C8 }
.color-primary-3 { color: #59799A }
.color-primary-4 { color: #3E6287 }

.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}

.email-subject {
    margin: 0;
}

.email-from {
    color: rgb(64, 64, 64);
    margin: 0;
    padding: 0;
}

.email-date {
    font-size: 80%;
    margin: 0.4em 0;
    color: #999;
}

.email-item-selected {
    background: #e9e9e9;
}

.email-item-preselected {
    background: #f6f6f6;
}

.email-item-unread {
    border-left: 6px solid #1b98f8;
}

.footer {
    font-family: 'serif';
    z-index: : 10;
    background: white;
    padding: 0;
    margin: 0;
}

.header {
      z-index: 10;
}

.home-menu {
      z-index: 10;
      background: white;  
}

.button-xlarge {
    font-size: 125%;
}

.input-xlarge {
    font-size: 125%;
}
.button-delete {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(223, 117, 20); /* this is an orange */
}
.button-refresh {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221); /* this is a light blue */
}

.main-grid{
    padding: 0;
    margin: 0;
}



/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
    .email-content-controls .secondary-button {
        margin-bottom: 0.3em;
    }

    .letter_content {
        height: 100%;
        width: 100%;
    }




.pressed-button {
    font-weight: bold;
}